<a href="https://colab.research.google.com/github/avvyy05/avvyy05/blob/main/Avani_lec_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 220
c = a + b       # Add two numbers
print (a, " + ", b, " --> ", c)

10  +  220  -->  230

In [ ]:
a = "Bhagat"
b = " Singh"
c = a + b		# Concatinate two strings
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

In [ ]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, "      --> ", c)

# Run the program with (1) Two strings and (2) Two numbers

In [ ]:
a=10
b=20
c=30
d=a+b+c
print("Sum of the three numbers: ",d)

Sum of the three numbers:  60

In [ ]:
a= "I "
b= "am "
c= "happy."
d= a+b+c
print("The sentence is: ",d)

The sentence is:  I am happy.

In [ ]:
s=0
for i in range(1,11):
  s=s+i
print("sum:",s)

sum: 55

In [ ]:
import math as m
print(m.sqrt(25))

5.0

In [ ]:
def add_odd_numbers(n):
    total = 0
    for i in range(1, n+1, 2):
        total += i
    return total

def main():
    n = int(input("Enter a number: "))
    result = add_odd_numbers(n)
    print("Sum of odd numbers from 1 to", n, "is:", result)

if __name__ == "__main__":
    main()

In [ ]:
import math as m
n=10
sum(range(1,n+1,2))

25

In [ ]:
import math as m
n=int(input("enter the number:"))
sum(range(1,n+1,2))

enter the number:20

100

In [ ]:
#WAP using function that add all prime numbers from 1 to n, n given by the user.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total = 0
    for i in range(2, n + 1):
        if is_prime(i):
            total += i
    return total

n = int(input("Enter a number: "))
print("Sum of prime numbers from 1 to", n, "is:", add_prime_numbers(n))

Enter a number: 10
Sum of prime numbers from 1 to 10 is: 17

In [ ]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Enter your name: avani
Enter your age : 19
Enter the book price: 403.3752

Your name is AVANI, age is 19 and book price is 403.375200

In [ ]:
para_str = """This is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up. """
print (para_str)

This is a long string that is made up of several lines and non-printable characters such as TAB ( 	 ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or just a NEWLINE within the variable assignment will also show up.

In [ ]:
para_str = ""This is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up.""
print (para_str)

SyntaxError: invalid syntax (<ipython-input-9-5e5d48e7eb05>, line 1)

In [ ]:
para_str = "This is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up. "
print (para_str)

This is a long string that is made up of several lines and non-printable characters such as TAB ( 	 ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or just a NEWLINE within the variable assignment will also show up.

In [ ]:
var =" Indian Army "
print("String --> ", var)
print("Length --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()) )

String -->   Indian Army
Length -->  13
var strip -->  Indian Army
Length of var after strip -->  11

In [ ]:
var =" Indian, Army "
print("String --> ", var)
print("Length --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(',')) # Strip + Split print("var split --> ", var.strip().split(','))

String -->   Indian, Army
Length -->  14
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', 'Army', '']
var split -->  [' Indian', ' Army ']

In [ ]:
var=" Indian Army "
print ("String --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

String -->   Indian Army
Count of ' ' -->  3
Count of 'a' -->  1
Count of 'n' -->  1

In [ ]:
var="Indian Army"
print ("String --> ", var)
print ("var[::1] --> ", var[::1])
print ("var[::2] --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])
var=var[::-1]
print ("var after reverse --> ", var)

String -->  Indian Army
var[::1] -->  Indian Army
var[::2] -->  Ida ry
var[::-1] -->  ymrA naidnI
var[::-2] -->  yr adI
var after reverse -->  ymrA naidnI

In [ ]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

s1 -->  False
s2 -->  True
s3 -->  True
s4 -->  False

In [ ]:
import random as r
#print(r.random())
#print(r.randint(142200001,142200010))
#print(round(r.random(),4))
print(round(10*r.random()))
print(142200000+round(10*r.random()))
print(142200000+round(10*r.random()))
print(142200000+round(10*r.random()))
print(142200000+round(10*r.random()))
print(142200000+round(10*r.random()))

6
142200004
142200001
142200009
142200000
142200002

In [ ]:

import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

55
8
2
-5

In [ ]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

49.17597590647127
65.57919519257013
-1.6121129928934579
-7.011525885079575
-4.4

In [ ]:
import random as r
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

[5, 7, 10, 2]
[8, 1]
[66, 49]
[36, 88, -61, 63, 84]

In [ ]:
import string as s
import random as r
print ("String --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1 --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2 --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3 --> ",passwd3)

passwd4="--".join(passwd)
print ("passwd3 --> ",passwd4)

String -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['Z', 'a', 'q', 'U', 'g', 'x']
passwd1 -->  ZaqUgx
passwd2 -->  Z+a+q+U+g+x
passwd3 -->  Z*a*q*U*g*x
passwd3 -->  Z--a--q--U--g--x

In [ ]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)

otp="".join(otp)
print ("otp1 --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)

otp="".join(otp)
print ("otp2 --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)

otp="".join(otp)
print ("otp3 --> ",otp)

Digits -->  0123456789
Selected num1 -->  ['7', '5', '9', '8', '0']
otp1 -->  75980
Selected num2 -->  ['1', '4', '9', '2', '7']
otp2 -->  14927
Selected num2 -->  ['1', '9', '2', '0', '7']
otp3 -->  19207

In [ ]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)

mixPasswd="".join(mixPasswd)
print ("mixPasswd1 --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 6)
print ("\nSelected Str2 --> ",mixPasswd)

mixPasswd="".join(mixPasswd)
print ("mixPasswd2 --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3 --> ",mixPasswd)

String + Digits -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

Selected Str1 -->  ['z', '4', 'L', '6', '1']
mixPasswd1 -->  z4L61

Selected Str2 -->  ['G', '7', 'F', 'O', 'K', 'n']
mixPasswd2 -->  G7FOKn

Selected Str3 -->  ['+', '~', 'D', 'l', 'C', 'M', 'L', 'x']
mixPasswd3 -->  +~DlCMLx

In [ ]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3)


print ("L3[::-1] --> ",L3[::-1])

L1 -->  [3, 6, 9]
L2 -->  [12, 5, 3, 2]
L3 -->  [3, 6, 9, 12, 5, 3, 2]
L3[::-1] -->  [2, 3, 5, 12, 9, 6, 3]

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for k in CGPA:
	print ("CGPA of ", k, " --> ", CGPA[k])

CGPA of  1  -->  8.9
CGPA of  2  -->  5.6
CGPA of  4  -->  6.7
CGPA of  7  -->  9.1
CGPA of  8  -->  5.3

In [ ]:
# Method 1
T = ("Pratham", 'Sharma', 3.14, 3)

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

In [ ]:
# Method 2
T = tuple(["Pratham", 'Sharma', 3.14, 3])   # Convert list to tuple
#T = tuple(("Pratham", 'Sharma', 3.14, 3))  # Also Works

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

i = 0
while i < len(T):
    print (T[i])
    i += 1

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for i in range(0, len(T)):
    print (T[i])

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for s in T:
    print (s)

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

In [ ]:
# Example 1:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

T     --> (3, 6, 9, 12, 5, 3, 2)
T[1]  --> 6
T[2]  --> 9
T[-1] --> 2
T[-2] --> 3

In [ ]:
# Example 2:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

T        --> (3, 6, 9, 12, 5, 3, 2)
T[1:3]   --> (6, 9)
T[2:]    --> (9, 12, 5, 3, 2)
T[2:5]   --> (9, 12, 5)
T[:2]    --> (3, 6)
T[:-1]   --> (3, 6, 9, 12, 5, 3)
T[-4:-1] --> (12, 5, 3)

In [ ]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

T       --> (3, 6, 9, 12, 5, 3, 2)
Sum     --> 40
Average --> 5.714285714285714
Average --> 5

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T         -->", T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print ("After Add -->", T)

T         --> ('Pratham', 'Sharma', 3.14, 3)
After Add --> ('Pratham', 'Sharma', 3.14, 3, 9.8)

In [ ]:

T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

T[2] = 900               # Error; 'tuple' object does not support item assignment
print ("T -->", T)

#Tuples are unchangeable. We cannot add items to it.

T --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "Rahul")
T = tuple(T1)

print ("After Insert -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Insert --> ('Pratham', 'Sharma', 'Rahul', 3.14, 3)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Delete --> ('Pratham', 3.14, 3)

In [ ]:
database=[]  #empty list

for i in range(1):
  name=input("enter the name: ")
  gender=input("enter the gender: ")
  age=input("enter age: ")
  location=input("enter location: ")
  database.append({"name": name, "gender": gender, "age": age, "location": location})

print("Database entries: ")
for entry in database:
  print(f"Name: {entry['name']}, Gender: {entry['gender']}, Age: {entry['age']}, Location: {entry['location']}")
  print()

index = int(input("Enter the index of the entry you want to modify (1-5): ")) - 1
attribute = input("Enter the attribute you want to modify (name/gender/age/location): ")
new_value = input("Enter the new value: ")
if attribute in database[index]:
    database[index][attribute] = new_value
    print("Entry modified successfully!\n")
else:
    print("Invalid attribute!")

print("Database Entries after Modification:")
for entry in database:
    print(f"Name: {entry['name']}, Gender: {entry['gender']}, Age: {entry['age']}, Location: {entry['location']}")

enter the name: AVANI
enter the gender: F
enter age: 19
enter location: FBD
Database entries:
Name: AVANI, Gender: F, Age: 19, Location: FBD

Enter the index of the entry you want to modify (1-5): 1
Enter the attribute you want to modify (name/gender/age/location): age
Enter the new value: 20
Entry modified successfully!
Database Entries after Modification:
Name: AVANI, Gender: F, Age: 20, Location: FBD

In [ ]:
database = []

for i in range(2):
    name = input("Enter name: ")
    gender = input("Enter gender: ")
    age = input("Enter age: ")
    location = input("Enter location: ")
    database.append({"name": name, "gender": gender, "age": age, "location": location})


print("Database Entries:")
for entry in database:
    print("Name: " + entry['name'] + ", Gender: " + entry['gender'] + ", Age: " + entry['age'] + ", Location: " + entry['location'])


name_to_modify = input("Enter the name of the entry you want to modify: \n")
found = False
for entry in database:
    if entry['name'] == name_to_modify:
        attribute = input("Enter the attribute you want to modify (name/gender/age/location): \n")
        new_value = input("Enter the new value: \n")
        if attribute in entry:
            entry[attribute] = new_value
            found = True
            print("Entry modified successfully!\n")
        else:
            print("Invalid attribute!\n")
        break

if not found:
    print("Entry not found!\n")


print("Database Entries after Modification:\n")
for entry in database:
    print("Name: " + entry['name'] + ", Gender: " + entry['gender'] + ", Age: " + entry['age'] + ", Location: " + entry['location'])

Enter name: Mylo
Enter gender: M
Enter age: 2
Enter location: Patiala
Enter name: Avani
Enter gender: F
Enter age: 20
Enter location: FBD
Database Entries:
Name: Mylo, Gender: M, Age: 2, Location: Patiala
Name: Avani, Gender: F, Age: 20, Location: FBD
Enter the name of the entry you want to modify:
Mylo
Enter the attribute you want to modify (name/gender/age/location):
location
Enter the new value:
fbd
Entry modified successfully!

Database Entries after Modification:

Name: Mylo, Gender: M, Age: 2, Location: fbd
Name: Avani, Gender: F, Age: 20, Location: FBD

In [ ]:
fp=open('namerollmarks.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

Name   roll no. marks
Priya	101	89
Tanya	102	56
Priyanka	103	98
divya	104	23
tanvi	105	35
Ishita	106	9
vani	        107	22
Anjali	108	11
Shreya	109	33
riya	        110	44
Sneha	111	66
Ishwar      112	87
Gayatri	113	65
varsha	114	43
Ira	        115	21
rahul	116	5
Abhishek	117	55
Aditya	118	10
Amit	119	1
mahesh	120	4
ROHIT	121	5
yash	        122	7
Ankit	123	7
shyam	124	9
Deepak	125	80
Aryan	126	82
Raj	        127	84
Arjun	128	86
Manoj	129	90
Gita   	130	92
Lakshmi 	131	94
Saroj 	132	94.5
Lalita 	133	98
Shanti 	134	99
Radha      135	0
Sunita 	136	0
Suman 	137	79
Ganesh 	138	74
Addy	139	73
Srimati 	140	77
Gopal 	141	54
Naresh 	142	69
Dinesh 	143	68
Umesh 	144	61
Manoj      145	49
Vinod	146	91
Dipak       147	81
Jiya   	148	100
Ginni	149	100
Jeny	        150	100

In [ ]:
file = open('namerollmarks.txt', 'r')
for line in file:
    parts = line.strip().split()
    name = parts[0]
    marks = int(parts[2])
    if marks < 35:
      print(name)

file.close()

ValueError: invalid literal for int() with base 10: 'no.'

In [ ]:
# 1. Open the file for reading
# Not recommended practice, use "with open" for safety
fp = open('namerollmarks.txt', 'r')

# 2. Read the entire file content into a list of lines
# "readlines" gets each line of the file
lines = fp.readlines()

# 3. Loop through each line
for line in lines:

    # 4. Remove any leading/trailing spaces from the line
    clean_line = line.strip()

    # 5. Split the line into name and score (assuming space separated)
    if clean_line:
      name, score= clean_line.split()

    # 6. Convert the score string to a number
    score_number = int(score)

    # 7. Check if the score is less than 35
    if score_number < 35:

        # 8. Print the name and "FAIL" message
        print(f"{name} FAIL")  # f-string for easy formatting

# 9. Close the file manually
fp.close()

In [ ]:
fp=open('namerollmarks.txt')
for line in fp:
  word=line.split()
  if(int(word[3])<35):
    print(word[0])
fp.close()

In [ ]:

fp=open('std.txt')
for line in fp:
  word = line.split()
  if(int(word[2])<35):
    print(word)
fp.close()

In [ ]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No: 4
Not Prime

In [ ]:
n = int(input("Enter a number: "))
prime_sum = 0

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_sum += num

print("Sum of prime numbers from 1 to", n, "is:", prime_sum)

Enter a number: 5
Sum of prime numbers from 1 to 5 is: 10

In [ ]:
n = int(input("Enter a number: "))
divisible_sum = 0

for num in range(1, n + 1):
    if num % 7 == 0 and num % 9 == 0:
        divisible_sum += num

print("Sum of numbers divisible by both 7 and 9 from 1 to", n, "is:", divisible_sum)

Enter a number: 63
Sum of numbers divisible by both 7 and 9 from 1 to 63 is: 63

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

maximum = max(num1, num2, num3)
print("The maximum number among", num1, ",", num2, ", and", num3, "is:", maximum)

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
The maximum number among 1 , 2 , and 3 is: 3

In [ ]:
def Add(a,b):
	c=a+b
	return c

print ("Add(5,5) -->", Add(5,5))

Add(5,5) --> 10

In [ ]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  --> ", IsPrime(20))
print ("IsPrime(23)  --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37)  --> ", IsPrime(37))

IsPrime(20)  -->  0
IsPrime(23)  -->  1
IsPrime(200) -->  0
IsPrime(37)  -->  1

In [ ]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))
print ("AddN(20)  --> ", AddN(20))
print ("AddN(50)  --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

AddN(10)  -->  55
AddN(20)  -->  210
AddN(50)  -->  1275
AddN(200) -->  20100

In [ ]:
def sum_of_odd_numbers(n):
    odd_sum = 0
    for num in range(1, n + 1, 2):
        odd_sum += num
    return odd_sum

n = int(input("Enter a number: "))
result = sum_of_odd_numbers(n)
print("Sum of odd numbers from 1 to", n, "is:", result)

Enter a number: 9
Sum of odd numbers from 1 to 9 is: 25

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    prime_sum = 0
    for num in range(2, n + 1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

n = int(input("Enter a number: "))
result = sum_of_primes(n)
print("Sum of prime numbers from 1 to", n, "is:", result)

Enter a number: 10
Sum of prime numbers from 1 to 10 is: 17

In [ ]:

with open('std.txt') as fp:
    for line in fp:
        word = line.split()
        if int(word[2]) < 35:
            print(word)

fp.close()

ValueError: invalid literal for int() with base 10: 'Marks(100)'

In [ ]:
# Open the file for reading
with open('std.txt') as fp:
    # Read line by line
    for line in fp:
        # Split each line into words
        word = line.split()
        # Check if there are enough elements in the list
        if len(word) >= 3:
            # Check if the third element (index 2) is a valid integer
            if word[2].isdigit():
                # Convert the third element to an integer and check if it's less than 35
                if int(word[2]) < 35:
                    # Display details with marks below 35
                    print(word)
# No need to explicitly close the file when using 'with open() as'

['1004', 'charelle', '14']
['1008', 'jhase', '33']
['1011', 'jazzmon', '6']
['1014', 'destane', '28']
['1015', 'nechole', '28']
['1017', 'deklyn', '23']
['1018', 'surafel', '28']
['1022', 'destany', '9']
['1023', 'cael', '27']
['1031', 'lyberti', '11']
['1032', 'milissa', '0']
['1033', 'faizon', '34']
['1036', 'johnita', '2']
['1038', 'courtany', '9']
['1045', 'danamarie', '11']
['1048', 'antwion', '3']
['1050', 'nashiya', '23']
['1051', 'silvino', '27']
['1053', 'shantee', '29']
['1055', 'shantea', '30']
['1062', 'ladarion', '10']
['1064', 'swayze', '20']
['1065', 'isley', '30']
['1067', 'harvey', '10']
['1068', 'shanitra', '28']
['1073', 'halona', '15']
['1077', 'vernon', '4']
['1078', 'mersades', '4']
['1087', 'ziair', '11']
['1089', 'tatayana', '7']
['1093', 'adamari', '8']
['1098', 'kayci', '17']
['1100', 'kayce', '17']
['1108', 'navin', '27']
['1109', 'rakita', '7']
['1110', 'khylei', '20']
['1112', 'mihail', '0']
['1114', 'maccoy', '1']
['1116', 'shaquell', '12']
['1119', 'addam', '34']
['1122', 'jayliana', '20']
['1123', 'cope', '13']
['1125', 'mabel', '33']
['1128', 'willy', '32']
['1129', 'even', '14']
['1132', 'akaash', '20']
['1136', 'jannett', '0']
['1140', 'rayssa', '30']
['1141', 'sevrin', '24']
['1143', 'robertson', '10']
['1144', 'reneta', '29']
['1147', 'gwenyth', '6']
['1148', 'abbott', '6']
['1157', 'smitha', '33']
['1158', 'kyren', '22']
['1161', 'harriette', '9']
['1163', 'alok', '7']
['1166', 'peytan', '25']
['1170', 'shams', '3']
['1175', 'jaedah', '29']
['1176', 'idali', '30']
['1178', 'jaedan', '30']
['1182', 'ziomara', '21']
['1183', 'kahlel', '12']
['1185', 'susie', '22']
['1186', 'tanmay', '10']
['1188', 'kahlea', '7']
['1190', 'aleina', '7']
['1193', 'chivas', '1']
['1196', 'safia', '25']
['1204', 'nigel', '17']
['1209', 'mizraim', '11']
['1219', 'rosealie', '9']
['1224', 'dafny', '4']
['1228', 'binta', '7']
['1232', 'ciaran', '16']
['1235', 'tarvis', '25']
['1236', 'lealani', '4']
['1238', 'daddy', '2']
['1240', 'jaxan', '23']
['1243', 'xaria', '1']
['1244', 'zeth', '4']
['1246', 'zeta', '33']
['1248', 'aidon', '24']
['1252', 'fontaine', '33']
['1255', 'thea', '26']
['1256', 'pascual', '18']
['1258', 'coralee', '14']
['1262', 'jotham', '25']
['1264', 'pooja', '32']
['1267', 'seif', '7']
['1268', 'pandora', '28']
['1269', 'mahlet', '13']
['1270', 'jesicca', '24']
['1275', 'karris', '27']
['1279', 'daion', '31']
['1282', 'marko', '21']
['1283', 'marki', '15']
['1284', 'bobak', '20']
['1292', 'mylah', '4']
['1298', 'caniyah', '31']
['1299', 'tynia', '3']
['1300', 'yariah', '15']
['1303', 'hoang', '7']
['1306', 'mayara', '26']
['1308', 'rilie', '24']
['1311', 'dantavious', '18']
['1313', 'shalaine', '27']
['1324', 'tymir', '20']
['1327', 'ziva', '2']
['1328', 'anitria', '21']
['1329', 'chidinma', '21']
['1331', 'bronx', '12']
['1332', 'danicka', '13']
['1336', 'laury', '29']
['1337', 'kalicia', '5']
['1341', 'laura', '15']
['1350', 'daivion', '14']
['1352', 'jadasia', '2']
['1356', 'nykolas', '25']
['1358', 'cherry', '28']
['1359', 'shya', '23']
['1362', 'poseidon', '18']
['1366', 'delsin', '9']
['1374', 'elgie', '4']
['1375', 'avien', '22']
['1379', 'chizaram', '23']
['1380', 'karrine', '1']
['1384', 'skya', '28']
['1386', 'skyy', '9']
['1389', 'aveion', '28']
['1396', 'tracen', '14']
['1403', 'dashanay', '20']
['1406', 'martyn', '23']
['1411', 'dashanae', '11']
['1412', 'braxtyn', '30']
['1414', 'tammera', '15']
['1415', 'camala', '20']
['1418', 'eternity', '13']
['1420', 'ewing', '27']
['1424', 'nahshon', '31']
['1427', 'vitaliy', '3']
['1431', 'kynisha', '24']
['1433', 'missael', '21']
['1435', 'crislyn', '23']
['1437', 'christyana', '16']
['1439', 'stevey', '4']
['1441', 'marilou', '23']
['1443', 'brendt', '27']
['1446', 'zissel', '8']
['1448', 'stevee', '9']
['1449', 'brendy', '7']
['1450', 'tyriek', '17']
['1454', 'quadree', '5']
['1458', 'klayten', '23']
['1462', 'demarco', '5']
['1463', 'ileana', '5']
['1465', 'seve', '5']
['1470', 'tyshia', '25']
['1473', 'gerrie', '8']
['1476', 'genesi', '21']
['1478', 'navneet', '12']
['1484', 'shaquitta', '5']
['1485', 'lizeth', '25']
['1487', 'deneane', '15']
['1490', 'aaron', '23']
['1492', 'marinda', '29']
['1494', 'joleen', '20']
['1499', 'emmalou', '4']

In [ ]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-ef8356f6-e879-4cea-9025-9b42d7eba7bc.json']

ValueError: invalid literal for int() with base 10: '-f'

In [ ]:
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-ef8356f6-e879-4cea-9025-9b42d7eba7bc.json']
-f  +  /root/.local/share/jupyter/runtime/kernel-ef8356f6-e879-4cea-9025-9b42d7eba7bc.json  -->  -f /root/.local/share/jupyter/runtime/kernel-ef8356f6-e879-4cea-9025-9b42d7eba7bc.json

In [ ]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

In [ ]:
fp=open('std.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

In [ ]:
Readfp=open('result.txt')		# Open the file in reading mode
Writefp=open('abc.txt','w')	# Open the file in writing mode
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")

In [ ]:
with open('std.txt') as fp:
    next(fp)  # Skip the header row
    for line in fp:
        words = line.split()
        if len(words) >= 3:  # Ensure there are at least 3 elements (roll no., name, marks)
            try:
                marks = int(words[2])
                if marks < 35:
                    print(words[1])
            except ValueError:
                print(f"Issue parsing marks for line: {line.strip()}")

In [ ]:
fp=open('std.txt')
next(fp) #skip header row
for line in fp:
  words=line.split()
  if len(words)>=3:   #ensuring there are atleast 3 elements
    try:
      marks=int(words[2])
      if marks<35:
        print(words[1])
    except ValueError:
      print(f"Issue parsing marks for line: {line.strip()}")

In [ ]:
fp=open('result.txt')
sum=0
for line in fp:
  sum +=int(line.strip())
print(sum)
fp.close()

55

In [ ]:
# sum of all
fp=open('std.txt')
sum=0
next(fp)
for line in fp:
  rollno,name,marks=line.split()
  sum +=int(marks)
print(sum)
fp.close()

25438

In [ ]:
#prime no.
def isPrime(n):
  if n<=1:
    return False
  for i in range(2,n//2 +1):
    if n%i==0:
      return False
    return True

fp=open('std.txt')
next(fp)
for line in fp:
  rollno, name,marks=line.split()
  if isPrime(int(marks)):
    print(name,marks)
fp.close()

In [ ]:
#show marks less than 35
with open('std.txt') as fp:
    next(fp)  # Skip the header row
    for line in fp:
        words = line.split()
        if len(words) >= 3:  # Ensure there are at least 3 elements (roll no., name, marks)
            try:
                marks = int(words[2])
                if marks < 35:
                    print(f"{words[1]} - {words[2]}: Fail")
            except ValueError:
                print(f"Issue parsing marks for line: {line.strip()}")

In [ ]:
#max min of data
max_marks=0
min_marks=0

fp=open('std.txt')
next(fp)
for line in fp:
  rollno, name, marks=line.split()
  marks=int(marks)
  if marks>max_marks:
    max_marks=marks
  if marks<min_marks:
    min_marks=marks
print(max_marks)
print(min_marks)
fp.close()

In [ ]:
#odd no.
fp=open('std.txt')
next(fp)
for line in fp:
  rollno, name, marks=line.split()
  marks=int(marks)
  if marks%2!=0:
    print(name, marks)
fp.close()

In [ ]:
#even no.

fp=open('std.txt')
next(fp)
for line in fp:
  rollno, name, marks=line.split()
  marks=int(marks)
  if marks%2==0:
    print(name, marks)
fp.close()